/*====================
FONTS
===============*/
@font-face {
  font-family: "Poppins";
  src: url("./../assets/fonts/Poppins-Light.woff2") format("woff2"),
    url("./../assets/fonts/Poppins-Light.woff") format("woff"),
    url("./../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-bold";
  src: url("./../assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("./../assets/fonts/Poppins-Bold.woff") format("woff"),
    url("./../assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*====================
VARIABLES
===============*/
:root {
  --font1: "Poppins";
  --font2: "Poppins-bold";
  --black: #000000;
  --white: #ffffff;
  --green: #53bf48;
  --brown: #c08848;
  --gray: #898b9c;
  --blue: #4f77c8;
  --lightBlue: #d7e5ff;
  --lightGray: #c4c4c4;
  --darkGray: #727588;
}
/*====================
GENERALS
===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font1);
  letter-spacing: 0.5px;
  background: #eee;
  padding: 20px;
  overflow-x: hidden;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
  margin: 0 4px;
}
.icon {
  width: 10px;
}
.arrows {
  width: 25px;
}
/*====================
PRELOADER
===============*/
#overlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #192640;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 3;

  animation: loader 0.8s infinite linear;
  background: url("./../assets/icons/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*====================
SPECIFICS STYLES
===============*/
.referidosContainer {
  margin-bottom: 20px;
}
.referidosTop,
.referidosTop h1,
.referidosPanel h3 {
  margin-bottom: 10px;
}
.referidosTop h1 {
  font-size: 22px;
}
.referidosTop p {
  max-width: 901px;
  font-size: 15px;
  line-height: 22px;
}
.referidosPanel {
  background: var(--white);
  padding: 20px;
  border-radius: 3px;
}
.referidosPanel h3 {
  font-size: 16.5px;
}
.panelContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.panel {
  width: 220px;
  background: var(--lightBlue);
  padding: 10px 19px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titlePanel {
  font-size: 19px;
  font-weight: bold;
}
.descriptionPanel {
  font-weight: 700;
  font-size: 12px;
  color: var(--blue);
}

.linkReferidos {
  box-shadow: 1px 1px 7px var(--gray);
  border-radius: 2px;
  padding: 0 0 5px 0;
  background: var(--white);
}
.linkTitle {
  background: var(--darkGray);
  border-radius: 2px 2px 0 0;
}
.linkTitle h4 {
  color: var(--white);
  padding: 8px 10px;
  font-size: 13px;
}

.linkBody {
  font-size: 15px;
  margin: 10px 0 5px 10px;
  border-radius: 0 0 2px 2px;
}

.ancorLink {
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
}

/* Referidos Invitados*/
.referidosInvitados,
.referidosEcomm {
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 0 8px var(--black);
}
.referidosInvitados h3,
.referidosEcomm h3 {
  padding: 8px 10px;
  background: var(--white);
  font-size: 15px;
}
.tableContainer {
  overflow-x: scroll;
}

table {
  min-width: 768px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.tableTitle tr {
  background: var(--darkGray);
}
.tableTitle tr th {
  color: var(--white);
  padding: 8px 10px;
  background-color: var(--darkGray);
  font-size: 13px;
}

.apodo,
.actividad {
  text-align: start;
}

.tableBody tr {
  height: 30px;
  color: var(--darkGray);
}
.tableBody tr td {
  font-size: 14px;
}
.columnOne,
.columnTwo {
  width: 19%;
}
.columnThree {
  text-align: center;
}

.tableBody tr td:nth-child(1) {
  padding-left: 10px;
}
.tableBody tr td:nth-child(2) {
  text-align: center;
}
.tableBody tr td:nth-child(3) {
  font-weight: bold;
  padding-left: 10px;
}
.tableBody tr td:nth-child(4),
.tableBody tr td:nth-child(5),
.tableBody tr td:nth-child(6) {
  text-align: center;
}
.facturar,
.pendiente,
.listo {
  border-radius: 2px;
  cursor: pointer;
  color: var(--white);
  display: inline;
}
.pendiente,
.listo {
  padding: 3px 8px;
}

.facturar {
  padding: 3px 30px 3px 3px;
  background: var(--blue);
  font-weight: bold;
}
.pendiente {
  background: var(--brown);
}
.listo {
  background: var(--green);
}
@media screen and (min-width: 580px) {
  .referidosPanel {
    max-width: 580px;
  }
  .panel {
    width: calc((100% / 3) - 10px);
  }
}
@media screen and (min-width: 1024px) {
  .panelContainer {
    justify-content: start;
  }

  .tableContainer {
    overflow-x: hidden;
  }
  .tableBody tr:hover {
    background: var(--gray);
    color: var(--white);
  }
  .tableBody td:hover {
    background: var(--darkGray);
    color: var(--white);
  }
  .columnOne,
  .columnTwo {
    width: 15%;
  }
}
